
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="~/Content/images/pn/pn1.png" alt="" />
            </li>
            <li>
                <img src="~/Content/images/pn/pn2.jpg" alt="" />            
            </li>
            <li>
                <img src="~/Content/images/pn/pn3.png" alt="" />            
            </li>
        </ul>
  
    </div>
    <div class="clearfix"> </div>
</div>